//- mixin user(photoUrl, name, verified, extension=".jpg")
//-     .card__header.user
//-         .user__left
//-             img(src="./assets/images" + photoUrl + extension, alt="user photo").user__photo
//-         .user__right
//-             h3.user__name= name 
//-             p.user__verified= verified 



mixin user(userImageUrl, userName, userState, extension=".jpg")
    header.card__header.user
        .user__left
           img(src=`../public/assets/images/image-${userImageUrl}${extension}`, alt=`${userName} Profile Picture`)
        .user__right 
            h3.user__name= userName 
            p.user__state= userState