mixin user(userImageUrl, userName, userState, userImageModifier, extension=".jpg")
    header.card__header.user
        .user__left
           img(src=`../public/assets/images/image-${userImageUrl}${extension}`, alt=`${userName} Profile Picture` class=userImageModifier)
        .user__right 
            h3.user__name= userName 
            p.user__state= userState